{{#if products}}
<div class="jumbotron">
  <h1>Nozama</h1>
  <p>Buy our stuff</p>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="input-group col-xs-4 search-box">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid">
  {{#each products as |product|}}

  <div class="col-xs-12 col-sm-4 well">
    <div class="row">
      <img src="{{product.picture_URL}}" id="{{product.id}}" class="small-product">
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h3 class="product-title">{{product.name}}</h3>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <p class="price-place">${{product.price}}
        <button data-prodID="{{product.id}}" class="btn btn-success button-place" type="button" name="button"> <span class="glyphicon glyphicon-shopping-cart">+</span></button>
      </div>
    </div>
  {{/each}}
</div>
{{else}}
  <h4> Failed to load the store, please try again later</h4>
{{/if}}
