<div class="modal-header">
  <div class="row">
    <div class="col-xs-12">
  <h1 class="product-title">{{product.name}}</h1>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <img src="{{product.picture_URL}}" id="{{product.id}}" class="modal-img">
    </div>
    <div class="col-xs-12">
      <h5>Product Description: {{product.description}}</h5>
    </div>
    <div class="col-xs-4">
      <h4>Price: <span data-price="{{product.price}}">${{product.price}}</span></h4>
    </div>
  </div>
</div>

<div class="modal-footer">
    <h4>Quantity: <input class="footer-space" data-itemqty type="number" name="quantity" min="1" max="999" step="1" value="1">
    Total Price: <span class="footer-space" id="qty-price" data-total-price>${{product.price}}</span>
    <button data-prodID="{{product.id}}" class="btn btn-success" type="button" name="button"> <span class="glyphicon glyphicon-shopping-cart">+</span></button></h4>
  </div>
</div>
